.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.autocomplete-box {
  width: 200px;
  height: 120px;
  border: 1px solid black;
  overflow-y: scroll;
  padding: 8px 0;
  display: grid;
}
.autocomplete-box > div {
  width: 180px;
}
.autocomplete-box > div > div {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.autocomplete-box > div > div:hover {
  background: rgba(236, 224, 224, 0.5);
}
.autocomplete-box > div + div {
  border-top: 1px solid rgba(202, 186, 186, 0.5);
}


/* Movie List */


/* Movie Detail */
.detail-info {
  position: relative;
}

.detail-info::before {
  content: ":";
  position: absolute;
  top: 0;
  left: 0;
}